
<div class="work-experience">
    <div class="experience-number">{{ExperienceNumber}}</div>
    <hr />
    <table>
        <tbody>
            <tr>
                <td class="fw-bold">Deneyim Tarihi :</td>
                <td>{{StartDate}} / {{EndDate}}</td>
                <td class="fw-bold">Çalışma Şekli :</td>
                <td>{{JobPeriod}}</td>
            </tr>
            <tr>
                <td class="fw-bold">Firma Adı :</td>
                <td>{{Employer}}</td>
                <td class="fw-bold">Ünvan :</td>
                <td>{{JobProfile}}</td>
            </tr>
            <!--<tr>
                <td class="fw-bold">Sektör :</td>
                <td>BİLİŞİM DANIŞMANLIĞI</td>
                <td class="fw-bold">Firma Ülkesi :</td>
                <td>Türkiye / İstanbul - Anadolu</td>
            </tr>-->
        </tbody>
    </table>
</div>
