<hr />
<div class="work-experiences">
    <div class="timeline"></div>
    <div class="text-center main-title fw-bold">
        İş Deneyimi
    </div>
    <table style="margin-bottom:0;">
        <tbody>
            <tr>
                <td class="fw-bold">Toplam İş Deneyimi :</td>
                <td>{{WorkPeriodInYear}} yıl, {{WorkPeriodInMonth}} ay (toplam {{TotalExperienceTime}} yıl)</td>
                <td class="fw-bold">Çalışma Durumu :</td>
                <td>{{WorkingStatus}}</td>
            </tr>
        </tbody>
    </table>
    {{AllWorkExperiences}}
</div>